<!-- Generates cart view using this.cart observable from order service -->
<div>
    <h2 *ngIf="loginStatus">Currently {{username}} is logged in!</h2>
    <br>
    <h3 *ngIf="currentCartStatus">Your current Cart Contents For Active Order No.: {{this.activeOrderNum}}</h3>
    <br>
    <table *ngIf="currentCartStatus" Cols="8" class="cartContent">
        <colgroup>
            <col class="pid" />
            <col class="image" />
            <col class="description" />
            <col class="category" />
            <col class="quantity" />
            <col class="price" />
            <col class="spacer" />
            <col class="remove" />
        </colgroup>
        <thead>
            <tr>
                <th class="pid" scope="col"></th>
                <th class="image" scope="col"></th>
                <th class="description" scope="col">Description</th>
                <th class="category" scope="col">Category</th>
                <th class="quantity" scope="col">Quantity</th>
                <th class="price" scope="col">Price<br>(unit)</th>
                <th class="spacer" scope="col">SubTotal</th>
                <th class="remove" scope="col">Remove?</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products"
                app-cart-content 
                [product]="product" 
                (removeItemFromCart)="removeItemFromCart($event)" 
                height=70px>
            </tr>

        </tbody>
    </table>
    <br>
    <h2 *ngIf="!currentCartStatus">You have no items in your cart! <br> Please visit the <a routerLink="/products">Products page</a> to add Products to your Cart</h2>
    <h2 class="total" *ngIf="currentCartStatus">Your Cart Total is: USD {{cartTotal.toFixed(2)}}</h2>
    <br>
    <h4 *ngIf="currentCartStatus">You can still add items to your cart before you checkout! <br>Our <a routerLink="/products">Products page</a> shows all our items</h4>
    <br>
    <button *ngIf="currentCartStatus" class="btn btn-primary" (click)="checkout()">Checkout</button>
</div>