<form #form="ngForm"  class="login-container" >
    <h2 *ngIf="loginStatus">Currently {{username}} is logged in!</h2>
    <br>
    <h3>Your current Cart Contents</h3>
    <br>
    <table Cols="7">
        <thead>
            <tr>
                <th scope="col" width="80px"></th>
                <th scope="col" width="80px"></th>
                <th scope="col" width="250px">Description</th>
                <th scope="col" align="left" width="190px">Category</th>
                <th scope="col" align="right" width="190px">Price</th>
                <th scope="col" align="right" width="190px">Quantity</th>
                <th scope="col" align="left" width="190px"></th>
                <th scope="col" align="center" width="190px">Remove?</th>
            </tr>
        </thead>
    <br>
    <tbody>
    <app-cart-content *ngFor="let product of cart" [product]="product" [cart]="cart" (removeItemFromCart)="removeItemFromCart($event)" height=70px></app-cart-content>
    </tbody>
    </table>
    <h2 *ngIf="!currentCartStatus">You have no items in your cart! <br> Please visit the <a routerLink="/products">Products page</a> to add Products to your Cart</h2>
    <h2 *ngIf="currentCartStatus">Your Cart Total is: USD {{cartTotal}}</h2>
    <br>
    <button *ngIf="currentCartStatus" class="btn btn-primary" (click)="checkout()">Checkout</button>
</form>