<h1>Our top five products are</h1>
<div>
    <table >
        <colgroup>
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Number Sold</th>
            </tr>
        </thead>
        <tbody *ngFor="let product of products" >
            <tr title='View Product {{product.name}}' [routerLink]="'../products/detail/'+product.id" >
                <td class="image"><img src = "{{product.url}}" width=60px; height=60px;></td>
                <td width="150px" >{{product.name}} </td>
                <td align="center"> {{product.sum}} </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<h2>Demonstration Shopping Cart Application - created with Angular</h2>
<p>This is an Angular based shopping Cart illustrating : </p>
<ul>
    <li>Component based Structure/Architecture</li>
    <li>Child/Parent hierarchy</li>
    <li>Relationships between Child/Parent use directives and decorators-where necessary</li>
    <li>Utilises Angulars property & event binding</li>
    <li>Services used for non-related components</li>
    <li>Observables are used for services</li>
    <li>ngBootstrap used for presentation</li>
    <li>Angular CLI, Router, Forms, env cars are used</li>
    <li>Typescript from Frontend to Backend!</li>
    <li>Utilises an SPA Application Architecture</li>
    <li>Reactive programming RxJS</li>
    <li>Image data retrieved using Observables, from a third party API (unsplash.com)</li>
    <li>Toasts used for notifications</li>
    <li>Interfaces with a RESTful API Backend, which uses</li>
    <ul>
        <li>Node</li>
        <li>Express</li>
        <li>Postgres</li>
        <li>JSON Web Token (JWT) for authentication</li>
        <li>Express Middleware for admin, user verification on routes</li>
        <li>API routes were setup with Postman</li>
        <li>Safe SQL retrieval</li>
    </ul>
</ul>
<h3>There are various functions integrated, for example: </h3>
<ul>
    <li>Login/Register unique users</li>
    <li>Show all completed orders for logged-in users</li>
    <li>Show items in completed/current orders</li>
    <li>Maintain a persistant cart using the API</li>
    <li>Adds items to a cart</li>
    <li>Removes items from a cart</li>
    <li>Streamlined Checkout Process</li>
    <li>About page summarises top selling products/technologies use</li>
    <li>JWT handling for stateless connections (used for authorisation/routing/cart handling</li>
    <li>etc...</li>
</ul>