<form #form="ngForm" (ngSubmit)="onSubmit()" class="login-container">
    <h1>Register Here!</h1>
    <br>
<div style="font-size:x-large">
    <div *ngIf="userName.invalid">
            Please enter a username, it must be at least 3 characters long.
    </div>
    <br>
    <div *ngIf="!userName.invalid && passWord.invalid">
        Now enter a password, it must be at least 8 characters long.
    </div>
    <div *ngIf="!userName.invalid && !passWord.invalid">
        You can also add: your first name & your last name, But this is NOT required for registering!
    </div>
    <!-- <div *ngIf="(!firstName.invalid && lastName.invalid) && !userName.invalid && !passWord.invalid">
        Press the 'Submit' button to set up your account, when you're finished!
    </div> -->
    <div *ngIf="(!firstName.invalid && !lastName.invalid) && !userName.invalid && !passWord.invalid">
        Press 'Submit' to set up your account!
    </div>

</div>
    <br>
    <br>
    <input 
    type="text" 
    name="username" 
    required 
    minlength="3" 
    placeholder="Enter Username" 
    [(ngModel)]="username"
    #userName="ngModel">
    <br>
    <input 
    type="text" 
    name="password" 
    required 
    minlength="8" 
    placeholder="Enter Password" 
    [(ngModel)]="password"
    #passWord="ngModel">
    <br>
    <input 
    type="text" 
    name="firstname" 
    minlength="3" 
    placeholder="Enter Firstname" 
    [(ngModel)]="firstname"
    #firstName="ngModel">
    <br>
    <input 
    type="text" 
    name="lastname" 
    minlength="3" 
    placeholder="Enter Lastname" 
    [(ngModel)]="lastname"
    #lastName="ngModel">
    <br>
    <input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary">
    <button *ngIf="userName.invalid || passWord.invalid" class="btn btn-primary" (click)="login()">Already have an account? Login Here!</button>
</form>