.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    background: #33B5E5;
    padding: 20px 200px 20px 200px;
    font-size: large;
    height: 90px;
}

.menu-title {
    padding: 5px;
}
.background {
    background-image: url("../../../assets/cart-background.png");
    background-repeat: no-repeat;
    display:inline-block;
    width: 30px;
    height: 30px;
    float: none;
    text-align:center;
    overflow: visible;
    color: white;
    background-size: 30px 30px;
}

a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 10em;
}