<div class="product-container" (mouseover)="showButtons=true" (mouseout)="showButtons=false">
    <img  src="{{ product.url }}" class=product-image [routerLink]="'./detail/'+product.id" />
    <p>{{ product.name }}</p>
    <p>{{ product.price }}</p>
    <p>{{ product.snippet }}</p>
    <br>
    <br>
    <div *ngIf=(showButtons)>
        <button 
        class="btn btn-primary" 
        style="margin-right: 40px;"
        (click)='routeTo()'>
        See Details</button>
        <button 
        *ngIf=(loginStatus) 
        class="btn btn-primary" 
        (click)="addProductToCart(product, 1)">
        Add To Cart</button>
    </div>
</div>