img {
  border-radius: 10px;
  /* width: 320px; */
}

.product-image {      
    list-style-type: none;
    width: 290px;
    padding: 20px;
    max-height: 375px;
    margin: 6px 6px;        
    /* border: 1px solid #33B5E5; */
  } 
  
  .product-container {
    margin-top: 64px;
    margin-bottom: 64px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .product-container:hover {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    box-shadow: 0 10px 20px #a8a8a8;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }

  .btn-primary-hover {
    color: #007bff;
    background-color: #fff;
    border-color: #fff;
  }

  .loggedin {
    margin-right: 40px;
  }