
<tr *ngFor="let product of cart">
    <!-- <a (click)="orderDetails(order.id)"> -->
        <!-- <td align="center" >{{product.id}}</td> -->
        <td width="80px">PID:{{product.id}}/<br>OPID:{{product.order_productsId}}</td>
        <td width="80px" align="left"><img src = "{{product.url}}" width=60px; height=60px;></td>
        <td width="250px" align="left">{{product.name}}</td>
        <td width="150px" align="left">{{product.category}}</td>
        <td width="190px" align="right">{{product.price}}</td>
        <td width="190px" align="right">{{product.quantity}}</td>
        <td width="190px"></td>
        <td width="190px" align="left"><button class="btn btn-primary" (click)="removeCartItem(product.quantity, product.orderId, product.id, product.order_productsId)">Remove</button></td>
        <br>
    <!-- </a> -->
</tr>