<div class="welcome">
    <div>
        <p class="blurb-text">{{ blurb }}</p>
        <p class="blurb-text">{{ moreBlurb }}</p>
        <br>
    </div>
    <div class="button-container">
        <a routerLink="/login">
        <button class="btn btn-primary button-style">
            Login
        </button></a>
        <a routerLink="/register">
        <button class="btn btn-primary button-style">
            Register
        </button></a>
        <br><br>
        <a routerLink="/products">
        <button class="btn btn-primary button-style">
            Products
        </button></a>
        <br><br>
    </div>
</div>