<div>
    <h2 *ngIf="loginStatus">Currently {{username}} is logged in!</h2>
    <h1>Logout Here</h1>
    <button type="submit" (click)="logout()" class="btn btn-primary">Log out</button>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h1>Your previous orders: </h1>
    </div>
    <div>
        <p>You have {{(currentOrders.length == 0 ? 'no' : currentOrders.length)}} orders on file. {{(noOfCompletedOrders.length == 0 ? 'No orders' : (noOfCompletedOrders.length == 1 ? 'One order' : noOfCompletedOrders.length+' orders')) }} {{(noOfCompletedOrders.length == 1 ? 'is' : 'are')}} complete.</p>
        <p *ngIf="currentOrders.length > 1">Click order below to see order details.</p>
        <table>
            <thead>
                <tr>
                    <th class="orderid">Order ID</th>
                    <th class="spacer"></th>
                    <th class="orderStatus">Order status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of currentOrders" (click)="orderDetails(order.id)">
                    <td class="orderid" >{{order.id}}</td>
                    <td class="spacer"></td>
                    <td class="orderStatus">{{order.status}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="showOrderDetails">
            <br>
            <div *ngIf="!currentOrderDetails[0]">This is your current active order. <br> You have no products in your basket. <br><span style="font-size: largest;">Visit our <a [routerLink]="[ '/', 'products']">products page and add some items.</a></span></div>
            <div *ngIf="currentOrderDetails[0]" >
                <h1>Order Details for Order with ID {{currentOrderDetails[0].orderid}}</h1>
                <div *ngFor="let product of products">
                    <table>
                        <colgroup>
                            <col class="image" />
                            <col class="description" />
                            <col class="quantity" />
                            <col class="price" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="image" scope="col"></th>
                                <th class="description" scope="col">Description</th>
                                <th class="quantity" scope="col">Quantity</th>
                                <th class="price" scope="col">Price<br></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr title='View Product {{product.name}}' [routerLink]="'../products/detail/'+product.id" >
                                <td class="image"><img src = "{{product.url}}" width=60px; height=60px;></td>
                                <td class="description">{{product.name}}</td>
                                <td class="quantity">{{currentOrderDetails[0].quantity}}</td>
                                <td class="price">{{product.price}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
