<form #form="ngForm" (ngSubmit)="onSubmit()" class="login-container" >
    <!-- <h2 *ngIf="loginStatus">{{username}} is logged in!</h2> -->
    <!-- <h1 *ngIf()>Login Here!</h1> -->
    <h1>Login Here!</h1>
    <br>
    <br>

    <input 
    type="text" 
    name="username" 
    required 
    minlength="3" 
    [(ngModel)]="username"
    placeholder="Enter Username" 
    #userName="ngModel">
    <br>
    <input
    type="text" 
    name="password" 
    required 
    minlength="8" 
    placeholder="Enter Password" 
    [(ngModel)]="password"
    #passWord="ngModel">
    <br>
    <input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary">
</form>
<p *ngIf="loading" class="signin-text">Currently logging in as: {{username}}</p>
<br>
    <div *ngIf="userName.invalid && userName.dirty">
        <div *ngIf="userName.errors?.required">
            Please enter your username, it must be at least  characters long.
        </div>
    </div>
    <br>
    <div *ngIf="passWord.invalid && passWord.dirty">
        You must enter a password and it must be at least 8 characters long.
    </div>