<form #form="ngForm" (ngSubmit)="onSubmit()" class="login-container" >
    <h1>Login Here!</h1>
    <br>
<div class="login-container" style="font-size:x-large">
    <div *ngIf="userName.invalid" >
            To login please enter your username.
    </div>
    <br>
    <div *ngIf="!userName.invalid && passWord.invalid">
        Great, what about your password?
    </div>
    <div *ngIf="!userName.invalid && !passWord.invalid">
        Press 'Submit' to login as: {{username}}
    </div>
</div>
    <br>
    <br>

    <input 
    type="text" 
    name="username" 
    required 
    minlength="3" 
    [(ngModel)]="username"
    placeholder="Enter Username" 
    #userName="ngModel">
    <br>
    <input
    type="text" 
    name="password" 
    required 
    minlength="8" 
    placeholder="Enter Password" 
    [(ngModel)]="password"
    #passWord="ngModel">
    <br>
    <br>
    <button type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
    <button *ngIf="userName.invalid" class="btn btn-primary" (click)="register()">If you haven't registered, please register first</button>
</form>
<p *ngIf=(loading) class="signin-text">Currently logging in as: {{username}}</p>
