<form #form="ngForm" (ngSubmit)="onSubmit()" class="login-container">
    <h1>Sign in Here!</h1>
    <br>
    <p class="signin-text">Currently signing in as: {{username}}</p>
    <br>
    <input 
        type="text" 
        name="username" 
        required 
        minlength="5" 
        placeholder="Enter Username" 
        [(ngModel)]="username"
        #userName="ngModel">
    <br>
    <input 
        type="text" 
        name="password" 
        required 
        minlength="9" 
        placeholder="Enter Password" 
        [(ngModel)]="password"
        #passWord="ngModel">
    <br>
    <input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary">
</form>
<br>
<div *ngIf="userName.invalid && userName.dirty">
    <div *ngIf="userName.errors?.required">
        Please enter your username, it must be at least 5 characters long.
    </div>
</div>
<br>
<div *ngIf="passWord.invalid && passWord.dirty">
    You must enter a password and it must be at least 9 characters long.
</div>