.productItem {
    width: 100%;
}

td {
    font-size: 1.1em;
    border: 1px solid #c5c5c5;
    padding: 3px 7px 2px 7px;
}

td:hover {
    font-size: 1.13em;
    color: #007bff;
    background-color: #fff;
    box-shadow: 8px 14px 30px #a8a8a8;
  }

.pid {
    text-align: center;
}

.quantity, .price {
    text-align: center;
}

.space {
    text-align: right;
}
.remove {
    text-align: center;
}

button:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
  }