<div class=product-container>
    <h1 class="title">{{product.name}}</h1>
    <a routerLink="/products">
        <img src="{{ product.url }}" class=product-image/>
    </a>
    <p>Product Name: {{ product.name }}</p>
    <p>Product Price USD: {{ product.price }}</p>
    <p>{{ product.snippet }}</p>
    <p class="description">Full Description: {{ product.description }} (Accreditation for text: {{product.accreditation}})</p>
    <br>
    <br>
    <a routerLink="/login"><button class="btn btn-primary" *ngIf=(!loginStatus)>Please login to add this item to your cart.</button></a>
    <div *ngIf=(loginStatus)>
        <div class="quantity">
            <button (click)="decreaseItems()">-</button>
            {{ noOfItems }}
            <button (click)="increaseItems()">+</button>
        </div>
    <!-- <br> -->
    <button class="btn btn-primary" (click)="addProductToCart(product.id, noOfItems)">Add To Cart</button>&nbsp;
    </div>
    <br>
    <br>
    <button class="btn btn-primary" [routerLink]="['/products']">Back To Products</button>
</div> 