<div class=product-container>
    <h1 class="title">{{product.name}}</h1>
    <a routerLink="/products">
        <img src="{{ product.url }}" class=product-image/>
    </a>
    <!-- <button class="btn btn-primary">See Details</button> -->
    <p>Product Name: {{ product.name }}</p>
    <p>Product Price USD: {{ product.price }}</p>
    <p>{{ product.snippet }}</p>
    <p class="description">Full Description: {{ product.description+product.name }}</p>
    <br>
    <br>
    <div class="quantity">
        <button (click)="decreaseItems()">-</button>
        {{ noOfItems }}
        <button (click)="increaseItems()">+</button>
    </div>
    <br>
    <button class="btn btn-primary" >Add To Cart</button>&nbsp;
    <button class="btn btn-primary" [routerLink]="['/products']">Back To Products</button>
</div>