.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.title {
  margin: 20px 20px;
}
p {
  font-size: medium;
}
img {
    border-radius: 10px;
    width: 320px;
    margin: 20px 20px;
  }
  
  .select-input {
    width: 108px; 
    margin-bottom: 8px;
  }
  
  .detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    max-width: 80%;
  }
  
  .detail-item {
    margin-left: 128px;
    margin-right: 128px;
  }
  
  .description {
    width: 60%;
  }

  .quantity {
    margin: 20px;
  }

  .back-link {
    margin-top: 8px;
  }

  .btn-primary {
    margin: 10px;
  }

  .btn-primary:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #fff;
  }