<form #form="ngForm" (ngSubmit)="onSubmit()" class="checkout-container" >
    <h1>{{title}}</h1>
    <h2>{{text}}</h2>
    <p>{{explanation}}</p>
    <br>
    <br>
    <section class="form-input">
        <input 
        type="text" 
        name="firstname" 
        required 
        minlength="3" 
        [(ngModel)]="firstname"
        placeholder="Enter First Name" 
        #firstName="ngModel">
        <br>
        <input
        type="text" 
        name="lastname" 
        required 
        minlength="3" 
        placeholder="Enter Last Name" 
        [(ngModel)]="lastname"
        #lastName="ngModel">
        <br>
        <input
        type="text" 
        name="houseNumber" 
        required 
        placeholder="Enter House Number/Name" 
        [(ngModel)]="houseNumber"
        #housenum="ngModel">
        <br>
        <input
        type="text" 
        name="streetAddress" 
        required 
        minlength="5" 
        placeholder="Enter Street Address" 
        [(ngModel)]="streetAddress"
        #street1="ngModel">
        <br>
        <input
        type="text" 
        name="city" 
        required
        minlength="5" 
        placeholder="Enter City" 
        [(ngModel)]="city"
        #City="ngModel">
        <br>
        <input
        type="text" 
        name="postcode" 
        required 
        minlength="3" 
        placeholder="Enter PostCode" 
        [(ngModel)]="postcode"
        #PostCode="ngModel">
        <br>
        <input
        type="text" 
        name="country" 
        required 
        minlength="5" 
        placeholder="Enter Country" 
        [(ngModel)]="country"
        #Country="ngModel">
        <br>
    </section>

    <input type="submit" [disabled]="form.invalid" value="Submit Your Order" class="btn btn-primary button-position">
</form>
<br>
    <div *ngIf="firstName.invalid && firstName.dirty">
        <div *ngIf="firstName.errors?.required">
            Please enter your first name, it must be at least 3 characters long.
        </div>
    </div>
    <br>
    <div *ngIf="lastName.invalid && lastName.dirty">
        <div *ngIf="lastName.errors?.required">
            You must enter a lastName and it must be at least 3 characters long.
        </div>
    </div>
    <br>
    <div *ngIf="housenum.invalid && housenum.dirty">
        <div *ngIf="housenum.errors?.required">
            You must enter a house number or house name.
        </div>
    </div>
    <br>
    <div *ngIf="street1.invalid && street1.dirty">
        <div *ngIf="street1.errors?.required">
            You must enter a street and it must be at least 5 characters long.
        </div>
    </div>
    <br>
    <div *ngIf="City.invalid && City.dirty">
        <div *ngIf="City.errors?.required">
            You must enter a city and it must be at least 5 characters long.
        </div>
    </div>
    <br>
    <div *ngIf="PostCode.invalid && PostCode.dirty">
        <div *ngIf="PostCode.errors?.required">
            You must enter a postcode, and it must be at least 3 characters long.
        </div>
    </div>
    <br>
    <div *ngIf="Country.invalid && Country.dirty">
        <div *ngIf="Country.errors?.required">
            You must enter a country, it is required.
        </div>
    </div>