.checkout-container {
    font: 300;
    color: black;
    margin: 50px;
}

.form-input  {
    margin-left: 100px;
    margin-bottom: 50px;
}

.button-position {
    margin-left: 100px;
}

input {
    margin: 10px;
    width: 500px;
    /* outline: none; */
    /* border: none;< */
}


input-complete {
    margin: 10px;
    width: 500px;
    color: darkgreen;
    border: none;
}


.ng-valid[required], .ng-valid.required {
    padding-left: 10px;
    border: none;
    border-left: 5px solid #42A948;

}

/* .ng-valid.required:not(form), .ng-valid[required]:not(form) */
.ng-valid:not(form)  {
    padding-left: 10px;
    border-left: 5px solid #A94442;
}

button:hover {
    color: #007bff;
    background-color: #fff;
    border-color: #007bff;
  }